*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color:#f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
    background-color: #3f3f3f;
    color: #b4ffe6;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

.calculator form input:hover {
    background-color: #686868;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

form .display input {
    background-color: #b4ffe6;
    color: #000;
    text-align: right;
    box-shadow: none;
    flex: 1;
    padding-right: 20px;
}

form .display input:hover {
    background-color: #b4ffe6;
}

form input.equals{
    width: 137px;
    background-color: #b4ffe6;
    color: black;
}

form input.equals:hover{
    background-color: #669c8a;
}
